<nav class="navbar">
    <div class="nav-left">
      <a href="/">Home</a>
      <a href="/about">About</a>
        <!-- Tarvitaanko tätä? <a href="/dev">Dev</a> -->
      <a href="/photos">Photos</a>
    </div>
    <div class="nav-right">
      <% if (user) { %>
        <span>Welcome, <%= user.name %></span>
        <form action="/users/logout" method="POST" style="display: inline;">
          <button type="submit" class="logout-button">Logout</button>
        </form>
        <% } else { %>
        <a href="/users/login">Login</a>
      <% } %>
    </div>
  </nav>
  