<!DOCTYPE html>
<html>
  <%- include('partials/navbar') %>

    <link rel="stylesheet" href="/styles.css">

<head><title>About</title></head>
<body>
  <h1>Welcome to the App</h1>
  <p>Here you can add your favourite photos of cute cats.</p>
  <a href="/about">About</a>
  <a href="/users">Users</a>
  <a href="/users/login">Login</a>

</body>
</html>
